- form.inputs do
  = form.input :organization_id, :label => 'Organization'
  = form.input :user_id, :label => 'User'
  = form.input :role, :label => 'Role'
  = form.input :reports_to_user_id, :label => 'Reports to user'
  = form.input :ext_organization_id, :label => 'Ext organization'
