- if logged_in?
  - content_for :sidebar do
    = render :partial => "my", :locals => {:user => current_user}

%p
  Status:
  = #@organization.status_val
%p
  Owner:
  = @organization.owner

%br
  
%h3 
  %b
    Industry:
=h @organization.industry

%br
%br
  
%h3
  %b
    Specific Industry:
= h @organization.specific_industry

%br 
%br

%p 
  = link_to 'Edit', edit_organization_path(@organization)
  |
  = link_to 'Organization Members', [@organization, :organization_roles]  